.verticalStack {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  max-width: 100%;
}
.checkbox {
  margin: 0;
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.candy {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 28px;
  color: inherit;
  display: inline-block;
  min-width: 30px;
}
.toppingOption {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-content: center;
  padding: 0 286px 0 0;
  gap: var(--gap-5xs);
}
.selectiontoppings {
  padding: 148px 0 0;
}
.autoLayout,
.selections,
.selectiontoppings {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.selections {
  padding: 120px var(--padding-5xl) var(--padding-5xl);
  margin-top: -252px;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--patrick-hand-body-lg);
}
.autoLayout {
  max-width: 100%;
}
.clear {
  text-decoration: none;
  width: 41px;
  position: relative;
  line-height: 28px;
  color: inherit;
  display: inline-block;
}
.clearButton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xs) 0 0;
}
.label {
  position: relative;
  font-size: var(--patrick-hand-body-lg-size);
  line-height: 28px;
  font-family: var(--patrick-hand-body-lg);
  color: var(--white);
  text-align: center;
  display: inline-block;
  min-width: 57px;
}
.buttonsubmit {
  cursor: pointer;
  border: 4px solid var(--black);
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-base);
  background-color: var(--black);
  height: 52px;
  border-radius: var(--br-5xs);
  box-sizing: border-box;
  justify-content: flex-start;
}
.buttonsubmit:hover {
  background-color: var(--color-dimgray);
  border: 4px solid var(--color-dimgray);
  box-sizing: border-box;
}
.actions,
.buttonRow,
.buttonsubmit,
.v3WithMoreAutoLayoutAnd {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.buttonRow {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.actions,
.v3WithMoreAutoLayoutAnd {
  width: 208px;
  justify-content: flex-end;
  padding: 0 var(--padding-5xl);
  box-sizing: border-box;
}
.v3WithMoreAutoLayoutAnd {
  width: 100%;
  position: relative;
  background-color: var(--white);
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 0 0 var(--padding-65xl);
  gap: var(--gap-5xs);
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--patrick-hand-body-lg);
}
@media screen and (max-width: 364px) {
  .toppingOption {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
