.actionsUistarSolid {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.label {
  position: relative;
  font-size: var(--patrick-hand-body-lg-size);
  line-height: 28px;
  font-family: var(--patrick-hand-body-lg);
  color: var(--white);
  text-align: center;
}
.button {
  cursor: pointer;
  border: 4px solid var(--black);
  padding: var(--padding-6xs) var(--padding-6xs) var(--padding-6xs)
    var(--padding-base);
  background-color: var(--black);
  flex: 1;
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}