.dropdown,
.text {
  position: relative;
}
.text {
  letter-spacing: 0.01em;
  line-height: 24px;
}
.dropdown {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--white);
  border: 2px solid var(--black);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-4xs) var(--padding-base);
  gap: var(--gap-9xs);
  text-align: left;
  font-size: var(--patrick-hand-body-size);
  color: var(--black);
  font-family: var(--patrick-hand-body-lg);
}