.barContent {
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
  box-sizing: border-box;
}
.title {
  position: relative;
  line-height: 28px;
  white-space: nowrap;
}
.navigationContent,
.placeholderplaceholder2Parent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.placeholderplaceholder2Parent {
  flex-direction: row;
  gap: var(--gap-base);
}
.navigationContent {
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.barOnlyoption8,
.mobileNav {
  flex: 1;
  background-color: var(--white);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.barOnlyoption8 {
  justify-content: space-between;
  padding: var(--padding-3xs) var(--padding-mini) var(--padding-3xs)
    var(--padding-base);
  gap: var(--gap-xl);
}
.mobileNav {
  border-bottom: 1px solid var(--schemes-outline);
  justify-content: flex-start;
  padding: var(--padding-21xl) 0 0;
  text-align: center;
  font-size: var(--patrick-hand-body-lg-size);
  color: var(--black);
  font-family: var(--patrick-hand-body-lg);
}