.barContent {
  height: 26px;
  width: 65px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-22xl) 0 0;
  box-sizing: border-box;
}
.title {
  height: 28px;
  width: 116px;
  position: relative;
  line-height: 28px;
  display: inline-block;
  flex-shrink: 0;
}
.placeholderplaceholder2Parent {
  width: 64px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.barOnlyoption8,
.mobileNav,
.navigationContent {
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigationContent {
  height: 26px;
  width: 64px;
  flex-direction: column;
  padding: var(--padding-11xs) 0 0;
}
.barOnlyoption8,
.mobileNav {
  width: 412px;
  background-color: var(--white);
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
}
.barOnlyoption8 {
  height: 48px;
  padding: var(--padding-3xs) var(--padding-base);
  gap: var(--gap-49xl);
}
.mobileNav {
  height: 88px;
  border-bottom: 1px solid var(--schemes-outline);
  padding: var(--padding-21xl) 0 0;
  text-align: center;
  font-size: var(--patrick-hand-body-lg-size);
  color: var(--black);
  font-family: var(--patrick-hand-body-lg);
}
